@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Science+Gothic:wght@100..900&display=swap');

body {
    background-color: rgb(70, 11, 11);
}

.main {
    background-image: url(./melted-chocolate-delight.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(150px, 100vw);
    height: 70vh;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    max-width: 90vw;
    padding: 2px;
    margin: auto;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 30px;
}

nav ul li {

    list-style: none;

}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero>:nth-child(1) {
    color: white;
    font-family: "Martel Sans";
    font-weight: bold;
    font-size: 50px;

}

.hero>:nth-child(2) {
    color: white;
    font-family: "Martel Sans";
    font-weight: bold;
    font-size: 40px;
    margin-top: -22px;
}

.hero>:nth-child(3) {
    color: white;
    font-family: "Martel Sans";
    font-weight: bold;
    font-size: 20px;
}

.btn {
    background-color: rgb(138, 39, 39);
    color: white;
    border: 2px solid rgb(138, 39, 39);
    border-radius: 9px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 13px;
    padding-top: 10PX;
    padding-bottom: 5px;

}

.sepration {
    height: 7px;
    background-color: rgb(144, 44, 44);

}

.container {
    max-width: 80vw;
    margin: auto;
    height: 113vh;
    border-radius: 7px;
    background-color: bisque;

}

.fav {
    font-size: 37px;
    color: brown;
    text-align: center;
    font-weight: bold;
    margin-top: 28px;
}

.box {
    max-width: 74vw;
    border-radius: 7px;
    background-color: beige;
    margin: auto;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* justify-content: left; */

}

.item {
    width: 230px;
    height: 320px;
    background-color: white;
    border-radius: 9px;
    margin: 39px;

}

.dark img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
}

.villan {
    padding-left: 17px;
    color: brown;

}

.para {
    padding: 13px;

}

.white img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;
}

.milk img {
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 9px;

}
.line
{   max-width: 74vw;
    margin: auto;
       height: 7px;
    background-color: rgb(195, 120, 120);
}

.choco{
    width: 34vw;
    height: 42vh;
    margin-left: 46px;
    margin-top: 7px;
    border-radius: 20px;
}
.choco img{
    width: 34vw;
    height: 42vh;
    object-fit: cover;
    border-radius: 20px;
}
.info{
    width: 40vw;
    height: 42vh;
    float: right;
    margin-top: 7px;

}
.big{
 display: flex;
    flex-direction: row;
    gap: 8px;
}
.info h1{
    text-align: center;
    color: brown;
   font-family: "Martel Sans";
}
.paru{
    font-size:20px;
    padding-left: 9px;
    padding-top: 41px;
}
.foot{
max-width: 95%;
margin: auto;
height: 48vh;
background-color:#3b1f0e;
margin-top: 9px;
display: flex;
flex-direction: row;
gap: 9px;
justify-content: center;
align-items: center;

}
h3{
    color: #ab5e2d;
    font-size: 25px;
    font-family: sans-serif;
    padding-bottom: 65px;
}
.seca> p{
    color: white;
    display: flex;
    flex-direction: column;
}
.seca{
    padding-right: 140px;
}
.ul{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.ul li{
    list-style: none;
    color: white;
}
.secb h3{
    padding-top: 41px;
    padding-right: 140px;
}
.secc h3{
     padding-bottom: 71px;
    padding-right: 140px;
}
.span{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}
.secd{
    color: white;
}
.line1{
    max-width: 95%;
    height: 1px;
    background-color:rgb(243, 106, 106);
    margin: auto;

}
.copy{
    max-width: 95%;
    height: 7vh;
    margin: auto;
    background-color:#3b1f0e ;
    text-align: center;
    color: beige;
}
.cc{
    padding-top: 20px;
}
